@import "src/variables.scss";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-main {
  display: flex;
  background: rgb(200, 200, 200);
  background: linear-gradient(
    180deg,
    rgba(200, 200, 200, 1) 0%,
    rgba(255, 255, 255, 1) 51%
  );
}

.app-header {
  width: 100%;
  background-color: #fff;
  color: $secondary-color;
  border-bottom: 2px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.app-header-app-name {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: $primary-color;
}

.title_cont {
  flex: 0 0 15%;
  border-right: 2px solid #ebebeb;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px !important;
}

.title_cont span {
  font-size: 1.2vw;
}

.app-header-sign-out {
  margin-right: 10px;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 50px;
  font-weight: bold;
}

.left-panel {
  flex: 0 0 15%;
  background-color: $secondary-color;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(235, 235, 235, 1) 100%
  );
}

.p-button:enabled:hover,
.p-button:enabled:active {
  border: none !important;
}

.center-panel {
  flex: 1;
  margin: 50px !important;
  border-radius: 20px;
}

.center-content-app-main {
  justify-content: center;
  display: flex;
  height: calc(98vh - 50px);
  background: rgb(33, 150, 243);
}

.center-content {
  display: flex;
  align-items: center;
}

:host {
  ::ng-deep .app-header-sign-out .p-button-label {
    font-size: 0.8vw;
  }
}

::ng-deep {
  .p-panelmenu-header-link {
    background-color: $primary-color !important;
    color: $secondary-color !important;
    border: 1px solid #403f3f !important;
    display: flex;
  }

  .pi-chevron-right,
  .pi-chevron-down {
    order: 3;
  }

  .p-menuitem-link-active {
    background-color: white !important;
    color: #403f3f !important;
    border: solid 1px #403f3f !important;
  }

  .p-panelmenu .p-panelmenu-header > a:focus {
    box-shadow: 0 0 0 0rem #fff;
  }

  .p-toolbar,
  .p-datatable .p-datatable-thead > tr > th {
    color: rgb(33, 150, 243);
  }

  .p-datatable-scrollable-header-box {
    padding-right: 0px !important;
  }

  .p-panelmenu-header-link {
    border-radius: 0px !important;
    width: 80%;
    position: relative;
    margin: 10px auto;
    text-align: center !important;
    background: transparent !important;
    color: #73d3a3 !important;
    border: none !important;
    border-bottom: 2px solid #909090 !important;
    font-weight: bold;
  }

  .p-panelmenu-header-link span {
    text-align: center;
    width: 100%;
  }

  .p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
    width: 0% !important;
  }

  .p-panelmenu-header-link:hover,
  .p-menuitem-link-active {
    background: transparent !important;
    color: $primary-color !important;
  }

  .p-toolbar {
    border-radius: 20px 20px 0px 0px;
  }

  .p-button {
    background: $primary-color;
  }

  .ng-star-inserted {
    font-size: 0.8vw;
  }

  .p-menuitem-icon {
    width: 0% !important;
  }

  app-left .p-toggleable-content {
    width: 80% !important;
    position: relative !important;
    margin: 0px auto !important;
  }

  app-left .p-panelmenu-root-submenu .p-menuitem-link:hover {
    background: $primary-color !important;
    color: #ffffff !important;
  }

  app-left .p-panelmenu-root-submenu .p-menuitem-link-active {
    background: $primary-color !important;
    color: #ffffff !important;
  }

  .p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: #fff !important;
    background-color: $primary-color !important;
  }

  app-left .p-panelmenu-root-submenu .p-menuitem-link:hover span,
  app-left .p-panelmenu-root-submenu .p-menuitem-link-active span {
    color: #ffffff !important;
  }

  app-dashboard-main .p-toolbar {
    justify-content: start !important;
  }

  app-dashboard-main .p-datatable .p-datatable-thead > tr > th:first-child {
    width: 11% !important;
  }
  .p-paginator {
    padding: 1rem 1rem !important;
  }
  .p-datatable .p-paginator-bottom {
  }

  .p-datatable-wrapper,
  .p-datatable-scrollable-body,
  .p-datatable-unfrozen-view .p-datatable-scrollable-body {
    border-radius: 0px 0px 20px 20px !important;
    box-shadow: 10px 10px 14px -6px #888888;
  }

  app-dashboard-main .dashboard-td .p-col-4 {
    width: 50% !important;
    padding: 2px !important;
  }

  app-dashboard-main .p-grid {
    margin: 0px !important;
  }

  app-dashboard-main .remove-left-padding {
    padding: 0.5rem 0.5rem 0rem 0.5rem !important;
  }

  app-dashboard-main .country-grid {
    max-height: 100% !important;
  }

  app-dashboard-main .p-button,
  app-abstract-data-main .p-button {
    font-size: 0.8vw !important;
  }

  app-dashboard-main .dashboard-tr .dashboard-td:first-child {
    font-weight: bold;
    background: #f8f9fa !important;
    border-right: 1px solid #e9ecef;
  }
}

@media only screen and (max-width: 1025px) {
  .app-main {
    flex-direction: column;
  }

  .center-panel {
    margin: 0px !important;
  }
}
