<div class="app">
  <div class="app-header">
    <div class="title_cont">
      <span class="app-header-app-name">PharmaApp</span>
    </div>
    <button *ngIf="authentication" pButton pRipple type="button" label="LOGOUT" icon="pi pi-user" iconPos="right" class="app-header-sign-out" (click)="signOut()"></button>
  </div>
  <div [ngClass]="{'app-main': authentication, 'center-content-app-main': !authentication}">
    <div *ngIf="authentication" class="left-panel">
      <app-left></app-left>
    </div>
    <div [ngClass]="{ 'center-panel': authentication, 'center-content': !authentication }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<p-toast position="bottom-right" key="br-toast"></p-toast>
